<!-- ===== debut fragmentCaveJumbotron -->

<!-- Les jumbotrons de BT3 n'existe plus et sont remplacés par de simple div #ff8499-->       

<div class="mt-4 p-5 text-white rounded" style="background-color: #cc66ff;">
    <img src="../../public/documentation/titre.png" alt="" style="margin-right: 200px;"/>
    <img src="../../public/documentation/logo.png" alt="" width="180" height="180"/><br><br><br><br><br>
    <div class="highlighted">
    <h4 class="highlighted-text-extra">Bienvenue sur notre site</h4>
    <p class="highlighted-text">Nous sommes ravis de vous accueillir sur notre plateforme de gestion de fonds Liberto'Funds. Que vous soyez un investisseur expérimenté ou que vous débutiez, notre équipe est là pour vous aider à atteindre vos objectifs financiers. Explorez nos services, découvrez nos solutions d'investissement personnalisées, et n'hésitez pas à nous contacter pour toute question ou pour planifier une consultation.</p>
    </div>
<style>
  .highlighted-text {
  font-weight: bold;      
  color: #333;             
  text-align: justify;
  line-height: 1.6;
}
.highlighted-text-extra {
  border-radius: 10px;
  font-weight: bold;       
  color: #333;             
}
.highlighted {
  background-color: #e0b3ff;
  padding: 15px;          
  border-radius: 10px;
}
</style>
</div>
<p/>


<!-- ===== fin fragmentCaveJumbotron -->